// 本文エリアに適用するスタイル
.block-editor-writing-flow {

	[data-type="loos-rb/restricted-block"] {
		padding: 8px;

		&:not(.is-selected) {
			border: 1px dashed #f1cb9c;
		}
	}
}

.loos-rb-controls {

	.components-base-control {
		margin-bottom: 8px;
	}

	&.-off {
		opacity: 0.5;
		pointer-events: none;
	}
}
