// プレビュー画面では適用させないスタイル
.editor-writing-flow{

    // [data-type="loos-rb/restricted-block"] {}

    [data-type="loos-rb/restricted-block"]:not(.is-selected):not(.has-child-selected) {

        & > .editor-block-list__block-edit {

            &::before {
                border: 1px dashed #f5e1b6;
                // border: 1px dashed #503804;
            }
        }

        .loos-block-restricted {
            & > .editor-inner-blocks {
                padding: 14px;

                & > .block-editor-block-list__layout {
                    margin-top: -28px;
                    margin-bottom: -28px;
                }
            }
        }
    }

    .loos-block-restricted {

        & > .editor-inner-blocks {
            padding: 14px;

            & > .block-editor-block-list__layout {
                margin-top: -28px;
                margin-bottom: -28px;
            }
        }
    }
}
